<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReplicaIsland"
        tools:targetApi="31">
        <activity
            android:name=".AndouKun"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="LevelSelectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />

        <activity
            android:name="ConversationDialogActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.ConversationDialog" />

        <activity
            android:name="DiaryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />


        <activity
            android:name="SetPreferencesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />

        <activity
            android:name="AnimationPlayerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />

        <activity
            android:name="ExtrasMenuActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />

        <activity
            android:name="DifficultyMenuActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />

        <activity
            android:name="GameOverActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
    </application>

</manifest>